<% form_for :user, :url => {:action => "login"} do |u| %>
	<p><label for="username">Username</label><br />
	<%= u.text_field :username %></p>
	<p><label for="password">Password</label><br />
	<%= u.password_field :password %></p>
	<%= submit_tag "Login" %>
<% end %>

